{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %} 
    Daily Launcher | Start you day 100% focused.
    {% endblock %}
    </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'base/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
      body {
        /*overflow: hidden;*/
        padding-top: 54px;
        background: #331832 !important;/* Adding !important forces the browser to overwrite the default style 
        applied by Bootstrap */
        color : #FCEAEA;
        /*Div of Cards, align center */
        display:flex;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }
      a.card-block { background-color: #F0544F; margin: 20px; color: #CADBC0; }
      
    </style>

{% if not dbug %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111493778-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111493778-1');
  </script>
  
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '126623968064975');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=126623968064975&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
{% endif %}

{% block head_extras %}
{% endblock %}

  </head>

  <body bgcolor="#331832" {% block bodytag %} {% endblock %}>
  {% if not dbug %}
  <script>
    fbq('track', 'Search');
  </script>
  {% endif %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'user:home' %}">
          <sub style="color: RED"><sup>ALPHA</sup></sub>
          {% if request.user.is_authenticated %} Howdy {{request.user.username}} {% else %} daily Launcher {% endif %}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user:price' %}">Pricing</a>
            </li>
            <li class="nav-item">
              {% if request.user.is_authenticated %}
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-link" href="{% url 'login' %}">Login</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

  <div class="container col">
    {% block content_1 %}
    {% endblock %}
  </div>


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'base/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'base/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>
