{% extends 'index.html' %}
{% load static %}

{% block title %}
    Price | {{ block.super }}
{% endblock %}

{% block content_1 %}
	<div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
			<h1 class="display-1" id="clocktext">
      			daily Launcher
      		</h1>
			<p class="lead">Start you day 100% focused.</p>	
			<br>
			<p>Although you can use this website, This website is still in development mode.<br> I am planbing to have a paid plan for this website, if you feel you can help me set a rate, or talk about anything related to this website, mail me at <a href="mailto:alikhundmiri.developer@gmail.com?Subject=Saw%20you%20website%20daily-launcher." target="_top">alikhundmiri.developer@gmail.com</a>.</p>
	        <a href="https://www.patreon.com/bePatron?u=5303033" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
			<p> <br> P.S. this is my Patron. You can do your thing if you like. :).  </p>
			
			<p>Tweet me : <a style="color: #CADBC0" href="https://www.twitter.com/newlifeshoes"> @newlifeshoes</a></p>

			{% if request.user.is_authenticated %}
				<p><a href="{% url 'logout' %}">LOGOUT</a></p>
			{% else %}
				<p><a href="{% url 'login' %}">LOGIN</a></p>
				<p><a href="{% url 'register' %}">REGISTER</a></p>
			{% endif %}
  			</div>
  		</div>
  	</div>
{% endblock %}