{% extends 'index.html' %}
{% load static %}

{% block title %}
    Price | {{ block.super }}
{% endblock %}

{% block content_1 %}
	<div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
			<h1 class="display-1" id="clocktext">
      			daily Launcher
      		</h1>
			<p class="lead">Start you day 100% focused.</p>	
			<br>
			<p>Although you can use this website, we are still in development mode.<br> We do plan to have a paid plan for this website, but nothing immediately.</p>
	        <a href="https://www.patreon.com/bePatron?u=5303033" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
			<p> <br> However I am a single developer, and this was a one day challenge for me, So, if you liked this website please consider donating.
			
			<p><a style="color: #CADBC0" href="https://www.twitter.com/newlifeshoes">Tweet me here!.</a> :) </p>

			{% if request.user.is_authenticated %}
				<p><a href="{% url 'logout' %}">LOGOUT</a></p>
			{% else %}
				<p><a href="{% url 'login' %}">LOGIN</a></p>
				<p><a href="{% url 'register' %}">REGISTER</a></p>
			{% endif %}
  			</div>
  		</div>
  	</div>
{% endblock %}